# API Configuration
TEST_API_URL=https://petstore.swagger.io/v2
TEST_API_USERNAME=admin
TEST_API_PASSWORD=admin

# UI Configuration
TEST_UI_URL=https://www.google.com/
TEST_UI_USERNAME=autotest
TEST_UI_PASSWORD=autotest

# Database Configuration
# Формат с P6Spy (логирование SQL): jdbc:p6spy:postgresql://host:port/database
# Формат без логирования: jdbc:postgresql://host:port/database
TEST_DB_URL=jdbc:p6spy:postgresql://localhost:5432/testdb
TEST_DB_USERNAME=testuser
TEST_DB_PASSWORD=testpassword
