# API Configuration
TEST_API_URL=https://petstore.swagger.io/v2
TEST_API_USERNAME=admin
TEST_API_PASSWORD=admin

# UI Configuration
TEST_UI_URL=https://www.google.com/
TEST_UI_USERNAME=autotest
TEST_UI_PASSWORD=autotest

# Database Configuration
TEST_DB_URL=jdbc:postgresql://localhost:5432/testdb
TEST_DB_USERNAME=testuser
TEST_DB_PASSWORD=testpassword
